
.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    
    
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px; 
    margin-left: 200px;
    color: white;
    font-size: 24px;
    
    
}

.header-top h3{
    margin-top: 1px;
}

.header-top ul {
    display: flex;
    list-style: none;
    gap: 30px;
    padding-right: 25%;
    margin-bottom: 5%;
    text-decoration: none;
    
}

.header-top ul li a{
    text-decoration: none;
    color: #E5E7EB;
}

.header-top ul li a:hover{
    text-decoration: none;
    color: white;
    font-weight: bold;

}

.header-left {
    display: flex;
    padding: 20px; 
}

.header-left-content {
    display: flex;
    flex-direction: column;
}

.header-left h1 {
    margin-top: 20px; 
    margin-left: 200px;
    inline-size: 280px;
    overflow-wrap: break-word;
    font-size: 48px;
    color: white;
    font-weight: bolder;
    margin-bottom: 10px;
}


.header-left p {
    margin-top: auto;
    inline-size: 346px;
    margin-left: 200px;
    color: white;
    font-size: 20px;
}

.header-left button {
    width: 150px;
    height: 50px;
    border-radius: 6px;
    border-color: #3882F6;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 150px;
    color: white;
    background-color: #3882F6;
    font-size: 20px;
}

.header-left img {
    max-width: 40%;
    margin-top: 20px;
    padding-left: 10%;
}

body {
    height: 100vh;
    margin: 0;
}

.h2-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.h2-container h2 {
    font-size: 36px;
    
    
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 20px;
    
    
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
    margin-right: 40px;
    margin-top: 20px;
    text-align: center;
    
}

.border {
    width: 200px;
    height: 200px;
    border: 6px solid #3882F6;
    border-radius: 10px;
    margin-bottom: 15px;
}

.text {
    max-width: 200px;
    opacity: .8;
    
}


.quote {
    margin-top: 2%;
    background: #E5E7EB;
    padding: 4%;
    padding-top: 2%;
    
}

.quote p {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start; /* Updated to align text at the top */
    font-style: italic;
    font-size: 36px;
    

}

.quote-author{
    font-size: 28px;
    font-weight: bolder;
    display: flex;
    justify-content: flex-end;
    padding-right: 10%;
    margin-top: -50px;
    margin-bottom: 2%;
}


.bottom {
    background: #3882F6;
    width: 75%;
    margin: 10% auto;
    padding: 20px; 
    border-radius: 8px;
    padding-bottom: 5%;
    
}

.bottom-header {
    font-size: 28px;
    font-weight: bold;
    color: white;
    margin-left: 8%;
    margin-bottom: -30px;
    margin-top: 20px;
}

.bottom-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    
}

.bottom-content p {
    color: white;
    font-size: 18px;
    margin-top: 0;
    margin-left: 8%;
    font-size: 24px;
    opacity: .6;
    font-weight: 900;
}

.bottom-button {
    display: flex;
    flex-direction: row-reverse;
    align-items: flex-end;
    margin-top: -30px;
    
    

    
}

.bottom-button button{
   margin-right: 8%;
   margin-top: -30px;
   width: 140px;
   height: 40px;
   border-radius: 6px;
   border: solid white;
   font-size: 18px;
   background-color: #3882F6;
   color: white;
   font-weight: 900;
    
}

.footer {
    margin-top: 10px;
    background: #1F2937;
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer p {
    color: white;
    font-size: 24px;
    
}