body{
    height: 100vh;
    margin: 0;
}

.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    border: double;
}

.header-top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px; 
    margin-left: 200px;
    color: white;
    font-size: 18px;
    
}

.header-top ul {
    display: flex;
    list-style: none;
    gap: 4px;
    color: white;
    padding-right: 25%;
    margin-bottom: 5%;
    


}

.header-left {
    display: flex;
    padding: 20px; 
}

.header-left-content {
    display: flex;
    flex-direction: column;
}

.header-left h1 {
    margin-top: 20px; 
    margin-left: 200px;
    inline-size: 280px;
    overflow-wrap: break-word;
    font-size: 48px;
    color: white;
    font-weight: bold;
}


.header-left p {
    margin-top: auto;
    inline-size: 346px;
    margin-left: 200px;
    color: white;
}

.header-left button {
    width: 100px;
    height: 30px;
    border-radius: 6px;
    border-color: #3882F6;
    font-weight: bold;
    margin-left: 200px;
    margin-bottom: 150px;
    color: white;
    background-color: #3882F6;
}

.header-left img {
    max-width: 40%;
    margin-top: 20px;
    padding-left: 10%;
}

.container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: center;
    
    
}

.h2-container h2 {
    font-size: 36px;
    inline-size: 400px;
    display: flex;

    
    
    
}

.info {
    margin-top: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-right: 150px;
    max-width: 200px;
    
    
    
}

.border {
    width: 200px;
    height: 200px;
    border: 6px solid #3882F6;
    border-radius: 10px;
    margin-right: 10px;
}

.container-text{
    display: flex;
    align-items: center;
}



